@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import 'theme.light.css' (prefers-color-scheme: light);
@import 'theme.dark.css' (prefers-color-scheme: dark);
@import 'tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
    --md-ref-typeface-weight-medium: '600';
    --md-ref-typeface-weight-regular: '600';
    --md-ref-typeface-brand: 'Readex Pro';
    --md-ref-typeface-plain: 'Readex Pro';
    --md-icon-font: 'Material Symbols Rounded';
  }

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  body {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 600;
  }
}
